.logo {
    margin-top: 3em;
    position: relative;
    top: 4rem;
}
.logo img.titulo {
    width: 50%;
}
.container h1 {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    cursor: pointer;
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 17px 12px #FFCC01;
}
.container h1:hover {
    box-shadow: 0 0 17px 12px #2872B8;
} 
.bolaText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
.bolaText img.bola {
    width: 17%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #2872B8;
}
